MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_CLIENT_ID=ESP8266-001
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TLS=false
MQTT_CA_CERT=
SENSOR_INTERVAL_MS=1000
SCENARIO=normal
ALERT_GAS_THRESHOLD=0.50
ALERT_TEMPERATURE_THRESHOLD=35
ALERT_HUMIDITY_MIN=40
ALERT_HUMIDITY_MAX=60